@model Holtz_PDV.Models.ViewModels.PedidoFromViewModel
@{
    ViewData["Title"] = "Visualizar Pedido";
}
<h3>@ViewData["Title"]</h3>


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PedCod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PedCod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PedDtaEms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PedDtaEms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PedDtaFat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PedDtaFat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PedSts)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PedSts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientePedCliCod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientePedCliCod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClientePed.CliRaz)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClientePed.CliRaz)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PedCod" class="btn btn-info">Editar</a> |
    <a asp-action="Index" class="btn btn-light">Voltar</a>
</div>
