@model IEnumerable<Holtz_PDV.Models.Estado>
@{
    ViewData["Title"] = "Listagem de Estados";
}
<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-info">Novo</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr class="text-uppercase bg-info">
            <th>
                @Html.DisplayNameFor(model => model.EstCod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstNom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstUf)
            </th>
            <th></th> <!-- Para criar uma titulo vazio para as funções editar, excluir etc -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EstCod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstNom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstUf)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EstCod">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.EstCod">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.EstCod">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>
