@model PaginatedList<Holtz_PDV.Models.Estado>
@{
    ViewData["Title"] = "Listagem de Estados";
}


<div class="justify-content-center">
    <h2>@ViewData["Title"]</h2>
    <a asp-action="Create" class="btn btn-info">Novo</a>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr class="text-uppercase bg-info">
            <th>
                Código
            </th>
            <th>
                Nome
            </th>
            <th>
                UF
            </th>
            <th></th> <!-- Para criar uma titulo vazio para as funções editar, excluir etc -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-uppercase">
                <td>
                    @Html.DisplayFor(modelItem => item.EstCod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstNom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstUf)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.EstCod" class="btn btn-primary btn-sm">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.EstCod" class="btn btn-light btn-sm">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.EstCod" class="btn btn-danger btn-sm">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="justify-content-center">
    <a asp-action="Index" asp-route-page="1" class="btn btn-sm btn-info @prevDisabled"> |< </a>
    <a asp-action="Index" asp-route-page="@(Model.PageIndex -1)" class="btn btn-sm btn-info @prevDisabled"> < </a>
    @if (Model.TotalPages > 1)
    {
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            var classPag = "btn-info";
            @if (@Model.PageIndex == @i)
            {
                classPag = "btn-primary";
            }
            
            <a asp-action="Index" asp-route-page="@i" class="btn btn-sm @classPag"> @i </a>
        }
    }
    <a asp-action="Index" asp-route-page="@(Model.PageIndex +1)" class="btn btn-sm btn-info @nextDisabled"> > </a>
    <a asp-action="Index" asp-route-page="@(Model.TotalPages)" class="btn btn-sm btn-info @nextDisabled"> >| </a>
</div>

