@model PaginatedListH<Holtz_PDV.Models.Cidade>
@{
    var Uf = ViewData["GetUF"];
    ViewData["Title"] = "Listagem de Cidades";
}

<h2>@ViewData["Title"]</h2>


<p>
    <a asp-action="Create" class="btn btn-info">Novo</a>
</p>

<form method="get" asp-action="Index">
    <p>
        <input type="search" placeholder="Nome da Cidade" value="@ViewData["GetCidades"]" name="cityName" style="width:380px;" />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a asp-action="Index">Todas Cidades</a>
        <select asp-for="@Uf" type="search" placeholder="UF" value="@Uf" name="UF" style="width:85px;" asp-items="@(new SelectList(Enum.GetValues(typeof(Holtz_PDV.Models.Enums.UF_All))))" class="form-control">--Selecione--</select>
    </p>
</form>

<table class="table table-striped table-hover">
    <thead>
        <tr class="text-uppercase bg-info">
            <th>
                Código
            </th>
            <th>
                Nome
            </th>
            <th>
                Cód. IBGE
            </th>
            <th>
                UF/Estado
            </th>
            <th></th> <!-- Para criar uma titulo vazio para as funções editar, excluir etc -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CidCod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CidNom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CidIBGE)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado.EstUf)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CidCod" class="btn btn-primary btn-sm">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.CidCod" class="btn btn-light btn-sm">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.CidCod" class="btn btn-danger btn-sm">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="justify-content-center">
    <a asp-action="Index" asp-route-page="1" class="btn btn-sm btn-info @prevDisabled"> |< </a>
    <a asp-action="Index" asp-route-page="@(Model.PageIndex -1)" class="btn btn-sm btn-info @prevDisabled"> < </a>
    @if (Model.TotalPages > 1)
    {
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            var classPag = "btn-info";
            @if (@Model.PageIndex == @i)
            {
                classPag = "btn-primary";
            }

            <a asp-action="Index" asp-route-page="@i" class="btn btn-sm @classPag"> @i </a>
        }
    }
    <a asp-action="Index" asp-route-page="@(Model.PageIndex +1)" class="btn btn-sm btn-info @nextDisabled"> > </a>
    <a asp-action="Index" asp-route-page="@(Model.TotalPages)" class="btn btn-sm btn-info @nextDisabled"> >| </a>
</div>
