@model IEnumerable<Holtz_PDV.Models.Cliente>
@{
    ViewData["Title"] = "Listagem de Clientes";
}
<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-info">Novo</a>
</p>

<table class="table table-striped table-hover" >
    <thead>
        <tr class="text-uppercase bg-info">
            <th>
                @Html.DisplayNameFor(model => model.CliCod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CliRaz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CliCpfCnpj)
            </th>
            <th></th> <!-- Para criar uma titulo vazio para as funções editar, excluir etc -->
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CliCod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CliRaz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CliCpfCnpj)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CliCod">Editar</a>
                <a asp-action="Details" asp-route-id="@item.CliCod">Detalhes</a>
                <a asp-action="Delete" asp-route-id="@item.CliCod">Remover</a>
            </td>
        </tr>
        }
    </tbody>
</table>