@model PaginatedListH<Holtz_PDV.Models.Cliente>
@{
    ViewData["Title"] = "Listagem de Clientes";
}

<h2>@ViewData["Title"]</h2>
<p>
    <a asp-action="Create" class="btn btn-info">Novo</a>
</p>


<form method="get" asp-action="Index">
    <p>
        <input type="search" placeholder="Razão ou Nome Fantasia do Cliente" value="@ViewData["GetCustomers"]" name="clientName" style="width:500px;" />
        <input type="submit" value="Search" class="btn btn-primary" />
        <a asp-action="Index">Todos Clientes</a>
    </p>
</form>

<table class="table table-striped table-hover">
    <thead>
        <tr class="text-uppercase bg-info">
            <th>
                Código
            </th>
            <th>
                Nome/Razão
            </th>
            <th>
                CPF/CNPJ
            </th>
            <th>
                Cidade
            </th>
            <th></th> <!-- Para criar uma titulo vazio para as funções editar, excluir etc -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-uppercase">
                <td>
                    @Html.DisplayFor(modelItem => item.CliCod)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CliRaz)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CliCpfCnpj)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade.CidNom)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.CliCod" class="btn btn-primary btn-sm">Editar</a>
                    <a asp-action="Details" asp-route-id="@item.CliCod" class="btn btn-light btn-sm">Detalhes</a>
                    <a asp-action="Delete" asp-route-id="@item.CliCod" class="btn btn-danger btn-sm">Remover</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="justify-content-center">
    <a asp-action="Index" asp-route-page="1" class="btn btn-sm btn-info @prevDisabled"> |< </a>
    <a asp-action="Index" asp-route-page="@(Model.PageIndex -1)" class="btn btn-sm btn-info @prevDisabled"> < </a>
    @if (Model.TotalPages > 1)
    {
        @for (int i = 1; i <= Model.TotalPages; i++)
        {
            var classPag = "btn-info";
            @if (@Model.PageIndex == @i)
            {
                classPag = "btn-primary";
            }

            <a asp-action="Index" asp-route-page="@i" class="btn btn-sm @classPag"> @i </a>
        }
    }
    <a asp-action="Index" asp-route-page="@(Model.PageIndex +1)" class="btn btn-sm btn-info @nextDisabled"> > </a>
    <a asp-action="Index" asp-route-page="@(Model.TotalPages)" class="btn btn-sm btn-info @nextDisabled"> >| </a>
</div>
