@model IEnumerable<Holtz_PDV.Models.Produto>
@{
    ViewData["Title"] = "Listagem de Produtos";
}
<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create" class="btn btn-info">Novo</a>
</p>


<table class="table table-striped table-hover">
    <thead>
        <tr class="text-uppercase bg-info">
            <th>
                @Html.DisplayNameFor(model => model.ProCod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProNom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProVlrCus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProVlrVen)
            </th>
            <th></th> <!-- Para criar uma titulo vazio para as funções editar, excluir etc -->
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ProCod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProNom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProVlrCus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProVlrVen)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProCod">Editar</a>
                <a asp-action="Details" asp-route-id="@item.ProCod">Detalhes</a>
                <a asp-action="Delete" asp-route-id="@item.ProCod">Remover</a>
            </td>
        </tr>
        }
    </tbody>
</table>